@import '../../vars.css';

.tCardContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 4px solid #7b1798;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 35%;
}

.tCardContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.clientDetails{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.clientImg{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.clientID{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:baseline;
}

.clientName{
    font-family: var(--font-robot);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.clientCompany{
    font-family: var(--font-robot);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.tCardDescription{
    font-family: var(--font-robot);
    font-size: 18px;
    font-weight: 380;    
    text-align: left;
}


@media screen and (max-width:830px) {
    
    .tCardContainer{
        width: 80%;
    }
}